/* Scss Document */

/*====================================

  1.Global Header

    ----------------------------------
        Structure
    ----------------------------------
    1.0. Global Header
    1.1. Menu Trigger
    1.2. Global Menu
    1.3. Function button
    
====================================*/

/*====================================

    1.0. Global Header

====================================*/

/* =======================================================
    Global Header
======================================================== */


.is-top .global-header {
  background-color: rgba($header_background_color, 0);
  &::before {
    display: block; padding: 0; margin: 0;
    position: absolute; top: -1px; left: 0;
    width: 100%; height: 0;
    transition: all 1.0s;
    content: ""; z-index: 1;
    opacity: 0;
  }
  &.in-view {
    &::before {
      top: 0; height: 100%;
      background-color: rgba($header_background_color, 0.80);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      opacity: 1;
    }
  }
}




.global-header {
  display: block; padding: 0; margin: 0;
  position: fixed; top: 0; left: 0;
  justify-content: space-between;
  align-content: center; align-items: center;
  background-color: $header_background_color;
  color: #000;
  width: 100%;
  z-index: 900;
  a {
    color: #fff;
  }
}
.is-globalmenu-open .global-header {
  background-color: $header_background_color;
}

.global-header__header {
  display: flex; padding: 0; margin: 0;
  justify-content: space-between;
  align-content: center; align-items: center;
  height: $global_sp_header_h;
  position: relative; z-index: 10;
}
@media (min-width: 992px) {
  .global-header { display: flex; }
  .global-header__header { height: $global_pc_header_h; width: auto; }
}



.global-brand {
  display: block; padding: 10px 1.0rem; margin: 0;
  a {
    display: block; padding: 0; margin: 0;
  }
  h1 {
    display: block; padding: 0; margin: 0;
  }
  .brand-mark {
    fill: $brandcolor_main;
    width: 137px; height: 26px;
    transition: all 0.5s;
  }
}

@media (min-width: 992px) {
  
  .global-brand {
    padding: 20px 2.0rem;
  }
  .brand-mark {
    fill: $brandcolor_main;
    width: 214px; height: 40px;
  }
  
}

.is-top .global-header {
  .global-brand {
    .brand-mark {
      fill: #fff;
    }
  }
  &.in-view {
    .global-brand {
      .brand-mark {
        fill: $brandcolor_main;
      }
    }
  }
}

@media (min-width: 992px) {
  .is-top .global-header {
    .global-brand {
      .brand-mark {
        fill: #fff;
      }
    }
    &.in-view {
      .global-brand {
        .brand-mark {
          fill: $brandcolor_main;
        }
      }
    }
  }
}

/* -----------------------------------------------------------
  global-header__menu--trigger
----------------------------------------------------------- */
.global-header__trigger {
  display: block; padding: 0; margin: 0;
  border: none; background-color: transparent;
  width: $global_sp_header_h; height: $global_sp_header_h;
  position: absolute; top: 0; right: 0;
  z-index: 1200;
}
@media (min-width: 992px) {
  .global-header__trigger { display: none; }
}


.hamburger-icon {
  display: block; padding: 0; margin: auto;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  width: 32px; height: 20px;
  
  &__bar {
    display: block; padding: 0; margin: auto;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 1px;
    background-color: $brandcolor_main;
    transition: 0.5s;
    &--1 { margin: 0 auto auto auto; }
    &--2 { margin: auto auto auto auto; }
    &--3 { margin: auto auto 0 auto; }
  }
}

.is-globalmenu-open {
  .hamburger-icon__bar {
    &--1 { margin: auto; transform: rotate(45deg); }
    &--2 { margin: auto; width: 0; }
    &--3 { margin: auto; transform: rotate(-45deg); }
  }
}


.is-top .global-header {
  .hamburger-icon {
    &__bar {
      background-color: #fff;
    }
  }
  &.in-view {
    .hamburger-icon {
      &__bar {
        background-color: $brandcolor_main;
      }
    }
  }
}


/* ===========================================================

  Global Navigation

=========================================================== */

.global-navigation {
  display: block; margin: 0;
  overflow: hidden;
  min-height: 0; max-height: 0; height: 0;
  transition: all 0.5s;
  @include global-gradient;
  position: relative; z-index: 100;
}
.is-globalmenu-open .global-navigation {
  min-height: 100vh; height: 100vh; height: auto;
  overflow-y: auto;
}
@media (min-width: 992px) {
  .global-navigation,
  .is-globalmenu-open .global-navigation {
    display: flex; padding: 0 1.0rem 0 0;
    align-content: center; align-items: center;
    justify-content: flex-end;
    min-height: auto; max-height: none; height: auto;
    background-color: transparent;
    overflow: visible;
    overflow-y: visible;
    font-size: 0.875em; line-height: 1.2;
    background: rgba(255,255,255,0);
  }
}

.global-navigation__main {
  display: block; padding: 0; margin: 0;
  dl {
    display: block; padding: 0; margin: 0;
    border-bottom: solid 1px #fff;
    dt {
      display: flex; padding: 0; margin: 0;
      font-size: 1.0rem;
      @include google_font_bold;
      a {
        display: block; padding: 1.5rem 1.0rem; margin: 0;
        width: 100%; flex-grow: 1;
        &.is-same-category {
          background-color: rgba( 0,0,0,0.20);
        }
      }
      button {
        display: block; padding: 0; margin: 0;
        width: 4.0rem; align-items: center; justify-content: center;
        border: none; outline: none; background-color: transparent;
        border-left: solid 1px #fff;
        position: relative;
        flex-shrink: 0;
      }
    }
    dd {
      display: block; padding: 0; margin: 0;
      font-size: .875rem;
      font-weight: bold;
    }
    ul {
      display: block; padding: 0; margin: 0;
      background-color: rgba( 0,0,0,0.10);
      li {
        display: block; padding: 0; margin: 0;
        border-top: solid 1px #fff;
        a {
          display: block; padding: 1.0rem 1.0rem; margin: 0;
          width: 100%; flex-grow: 1;
          &.is-current {
            background-color: rgba( 0,0,0,0.10);
          }
          
        }
        ul.children {
          font-size: 0.875rem;
          a {
            display: block; padding: 1.0rem 1.0rem 1.0rem 2.0rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .global-navigation__main {
    display: flex; 
    dl {
      border-bottom: none;
      position: relative;
      z-index: 1;
      dt {
        display: flex; padding: 0; margin: 0;
        font-size: 1.0rem;
        transition: all 0.5s;
        @include google_font_bold;
        a {
          display: flex; padding: 0 1.0rem;
          align-items: center; justify-content: center;
          width: auto; flex-grow: 0;
          color: #000;
          height: $global_pc_header_h;
          color: $brandcolor_main;
          &.is-same-category {
            background-color: rgba(0,0,0,0.0);
          }
        }
        button {
          display: none; position: absolute;
          width: 0; height: 0;
        }
      }
      dd {
        max-height: 0; width: 0;
        position: absolute; top: $global_pc_header_h; right: 0;
        min-width: 14.0rem;
        @include global-gradient;
        opacity: 0;
        
      }
      &.is-open {
        dd {
          max-height: 0;
        }
      }
      
      &:hover {
        z-index: 10;
        dt {
          background-color: $brandcolor_main;
          a {
            color: #fff;
            &.is-same-category {
              color: #fff;
            }
          }
        }
        dd {
          max-height: 100vh;
          opacity: 1.0;
          width: 100%;
        }
        &.is-open {
          dd {
            max-height: 100vh;
            width: 100%;
          }
        }
        
      }
      ul {
        background-color: rgba( 0,0,0,0.0);
        li {
          a {
            text-align: center;
            &.is-current {
              background-color: rgba( 0,0,0,0.10);
            }
            &:hover {
              background-color: $brandcolor_main;
            }

          }
        }
      }
    }
  }

}




@media (min-width: 992px) {
  .is-top .global-header {
    .global-navigation__main {
      dl {
        dt {
          a {
            color: #fff;
          }
        }
      }
    }
    &.in-view {
      .global-navigation__main {
        dl {
          dt {
            a {
              color: $brandcolor_main;
              &:hover {
                color: #fff;
                background-color: $brandcolor_main;
              }
            }
          }
        }
      }
    }
  }

}




.global-navigation__sns {
  display: block; padding: 0 0 6.0rem 0;
  a {
    padding: 0 1.0rem;
    text-align: center;
    font-size: 1.5rem;
    &::before {
      display: block; padding: 0; margin: 0;
      font-family:"Font Awesome 5 Brands";
    }
    &.global-header__sns--facebook::before { content: '\f082'; }
    &.global-header__sns--instagram::before { content: '\f16d'; }
    &.global-header__sns--contact::before {
      font-family:basicicon;
      content: '\e98e';
    }
  }
}


@media (min-width: 992px) {
  .global-navigation__sns {
    display: block; padding: 0 0.25rem;
    a {
      padding: 0 1.0rem;
      text-align: center;
      font-size: 1.5rem;
      color: $brandcolor_main;
    }
  }
}



@media (min-width: 992px) {
  .is-top .global-header {
    .global-navigation__sns {
      a {
        color: #fff;
        &:hover {
          color: $brandcolor_main;
        }
      }
    }
    &.in-view {
      .global-navigation__sns {
        a { color: $brandcolor_main; }
      }
    }
  }

}


